<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.css">

<div class="container">

<h1>New User</h1>

<%= render 'form', user: @user %>

<a href="#"><%= link_to 'Back', welcome_index_path %></a>
</div>

<script>

 $(".chosen-select").chosen({width: "37%"});

</script>
