<div class="container" style="margin-bottom:300px;background: ghostwhite;">
  <div class="row">
    <div class="col-xs-12">
      <h3 style="color: #7f0000;">
        <b>Abstract:</b>
      </h3>
      <p>
        Foodnatic is an interactive web application that provides recipes to both beginner cooks and advanced chefs, based on their preferences and dietary needs. The one main feature of Foodnatic revolves around this idea of providing recipes for people regardless of their dietary restrictions. Possible users include those looking for cooking inspiration, nutritionists looking for specific recipes, people looking to go paperless with regards to recipe books, and beginner cooks. Each user creates an account in which they can fill out a questionnaire on preferences and dietary restrictions, and as a sub-feature, the application suggests recipes according to the user’s preferences. The user can then choose to save their favourite recipes to their account for later.
        Another sub-feature is that Foodnatic will provide the ability for users to search through all recipes by many fields through both a simple and an advanced search. Our last sub-feature is a voting system which allows users to express their opinion on a certain recipe. This will also tie into the search as users will be able to sort by categories such as “most popular”. Future implementations include a comment board per recipe and ways to share your opinion on recipes with other people.
      </p>
      <h3 style="color: #7f0000;">
      	<b>Understanding the Problem:</b>
      </h3>
      <p>
        Foodnatic aims to provide recipes on demand to all people regardless of their dietary restrictions. The current solutions to finding good recipes that adhere to a person's preferences and restrictions are through websites, cooking shows, apps and through asking family and friends. Websites that allow you to search for recipes typically do not let you customize your search based on specific needs. Cooking shows are a good way to learn about new recipes and learn cooking techniques, however, they are unable to provide them to a person on demand.
      </p>
      <p>
        There are a few apps out there that try and do similar things to Foodnatic, however they fall short when it comes to true customizability. The mobile application “BigOven” contains a large database and can be lightly searched through, but in order to get nutrition information and all features, a 20$/year membership fee is required. In addition, “BigOven” does not support searching through recipes based on nutritional information, which is important to conscious eaters. Another existing application is The Food Network’s’ mobile application, “In the Kitchen”. Similar to “BigOven”, it does not provide an in-depth search for recipes, and only contains a limited number of recipes created by the Food Network Chefs. Asking friends is very plausible solution to getting recipes especially since they would be able to provide them efficiently. The problem arises when needing a recipe that fulfills all dietary needs.
      </p>
      <p>
        By providing recipes that are catered towards each unique user and by giving users a way to share their experiences with the recipe, we eliminate many problems mentioned above. There is no need to wait around for cooking shows and worry if friends will have certain recipes. We also eliminate the need to use any other recipe service (through the web or a mobile application) as we provide over 1.5 million recipes with searchable configurations.
      </p>
      <h3 style="color: #7f0000;">
        <b>Project Scope:</b>
      </h3>
      <p>
        Foodnatic’s main feature is providing specific recipes to each user. We have split our main feature into a number of sub features which improve user experience, and add tons of functionality. A sub feature that separates us from other services out there are the searching functions we provide. A user can enter keywords and into the simple search and can see the most relevant and most popular recipes. A user can also click on the advanced search tab/panel which shows checkboxes and dropdown relating to customizable options. These options include: ingredients, nutritional information, measurements, and health labels (ex. Low sodium, gluten free, vegetarian). A user will then be able to choose from these options and receive a list of recipes that fulfill their submitted request.
      </p>
      <p>
        Another sub feature which we provide is the unique user creation system which allows a user to fully customize certain dietary restrictions and preferences. These restrictions and preferences will all be taken into account when we generate the user's own “recommended for you” page. On this page, the user will be able to choose yes to save a recipe to their account or choose no to continue browsing through their recommended recipes. Since we believe that users should be able to voice an opinion on the recipes, we decided to add another sub feature which is a voting system. Users can vote if they liked or disliked a recipe. The most “liked” recipes will be grouped weekly and displayed on the front page of the website. Along with this, a user can choose to save a recipe to their account for later review. Administrators of Foodnatic will be able to have total control over user accounts (create, delete) as well as specific things within the account. In case there are problems with users adding, deleting or modifying preferences or dietary restrictions, an administrator will have access to do all those things for any user.
      </p>
      <h3 style="color: #7f0000;">
        <b>Conclusion:</b>
      </h3>
      <p>
        In analyzing the project scope, and the goals we have to provide a simple yet highly functional experience to the user, we believe that the amount of work is enough for five group members.
      </p>
    </div>
  </div>    

  <div class="row">
    <div class="col-xs-12">
        <h3 style="color: #7f0000;">
          <b>Created By:</b>
        </h3>
      <div class="row">
        <div class="col-xs-3" style="margin-left: 2rem;">
          <p>Mehrshad Matin</p>
          <p>Khashayar Yousefi</p>
          <p>Hussain Hassam</p>
          <p>Afke Holgersen</p>
          <p>Jason Chan</p>
        </div>
      </div>
    </div>
  </div>  

</div>