div.enclosure{
  text-align: center;
  margin: auto;
  padding-top: 6%;
  padding-bottom: 6%;
  border-style: solid;
  border-color: #990000;
  border-width: thin;
  border-radius: 20px;
  width:100%;
  font-size: 20px;
}

div.field{
  text-align: right;
  margin-right: 42%;
}

div.pad-left {
  margin-right: 38%
}
div.chosen-field {
  text-align: right;
  margin-right: 35%;
}


div.chosen-field {
  text-align: right;
  margin-right: 35%;
}
li {
  text-align: left;
}

div.field_with_errors{
  display : inline;
}
